<!-- nanopore/laboratory/edcs_tblis/edcs_tblis_laboratory_upload.html -->

{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

<h3>Upload EDCS-TBLIS Zonal Lab CSV</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<!-- ASYNC ERRORS WILL APPEAR HERE -->
<div id="asyncErrors"></div>

<div class="card p-3 shadow">

<form id="uploadForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.file.label_tag }}
    {{ form.file }}

    <button type="submit" class="btn btn-success mt-2">Upload CSV</button>
</form>

<div class="progress mt-3" style="display:none" id="uploadProgressWrapper">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
         id="uploadProgress"
         style="width:0%">
        0%
    </div>
</div>

</div>
</div>

<script>
document.getElementById("uploadForm").addEventListener("submit", function(e){
 e.preventDefault();

 const xhr = new XMLHttpRequest();
 const formData = new FormData(this);

 xhr.open("POST", "", true);

 xhr.onload = function(){
   const data = JSON.parse(xhr.responseText);
   const taskId = data.task_id;

   const TASK_URL = "{% url 'nanopore:task-status' 'TASKID' %}".replace("TASKID", taskId);

   document.getElementById("uploadProgressWrapper").style.display = "block";

   const interval = setInterval(()=>{
     fetch(TASK_URL)
       .then(r=>r.json())
       .then(data=>{

         if(data.current){
           let pct = Math.round(data.current / data.total * 100);
           uploadProgress.style.width = pct+"%";
           uploadProgress.innerText = pct+"%";
         }

         // DONE
        if(data.state === "SUCCESS"){
           clearInterval(interval);

           // SHOW ERRORS
            if(data.errors && data.errors.length){

            let html = `
            <div class="alert alert-danger mt-3">
            <h5>Errors (${data.errors.length})</h5>
            <table class="table table-sm table-bordered">
            `;

            data.errors.forEach((e,i)=>{
            html += `<tr><td>${i+1}</td><td>${e}</td></tr>`;
            });

            html += "</table></div>";

            document.querySelector(".container").insertAdjacentHTML("beforeend", html);

            }else{

            let html = `
            <div class="alert alert-success mt-3">
            Imported ${data.created} created / ${data.updated} updated
            </div>
            `;

            document.querySelector(".container").insertAdjacentHTML("beforeend", html);
            }
         }
       })
   },2000);
 };

 xhr.send(formData);
});
</script>

{% endblock %}
