{% extends "base.html" %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

<title>{% block title %}Dream Fund - Nanopore Sequencing{% endblock %}</title>

{% block titlebar %}
Dashboard — {{ user.get_full_name|default:user.username }}
{% endblock %}

{% block content %}

<style>
    .fa-hand-wave::before {
        content: "\f44b";
        /* custom wave icon if missing */
    }

    .card-body h2 i {
        animation: wave 2s infinite ease-in-out;
    }

    @keyframes wave {

        0%,
        100% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(15deg);
        }

        75% {
            transform: rotate(-10deg);
        }
    }
</style>

<style>
    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .blink {
        animation: blink 3s infinite;
    }
</style>

<div class="card shadow-sm border-0 mb-4 rounded-4">
    <div class="card-body bg-light">
        <h2 class="mb-3 text-primary fw-bold d-flex align-items-center flex-wrap">
            <i class="fas fa-hand-wave text-warning me-2"></i>
            Welcome,
            <span class="ms-1">
                {% if request.user.profile.prefix %}
                {{ request.user.profile.prefix|default:"" }}.
                {% endif %}
                {{ user.get_full_name|default:user.username }}!
            </span>
        </h2>
        {% with user_group=request.user.groups.first.name|upper %}
        {% if request.user.is_superuser or user_group == "ADMIN" or user_group == "REVIEWER" %}
        <div
            class="p-3 bg-white rounded-3 border-start border-4 border-primary d-flex justify-content-between align-items-center flex-wrap shadow-sm">
            <div>
                <p class="mb-0 fs-5 text-dark">
                    <i class="fas fa-user-shield text-primary me-2"></i>
                    <strong>Position:</strong> {{ request.user.profile.position }}
                </p>
            </div>

            {% if total_issues %}
            <!-- Blinking Badge -->
            <div>
                <span class="badge bg-danger blink">
                    Current Pending Queries: {{ total_issues | intcomma }}
                </span>
            </div>
            {% endif %}
        </div>
        {% else %}
        {% if request.user.profile.site %}
        <div
            class="p-3 bg-white rounded-3 border-start border-4 border-primary d-flex justify-content-between align-items-center flex-wrap shadow-sm">
            <div>
                <!-- <p class="mb-1"><i class="fas fa-user-tag text-success me-2"></i><strong>Prefix:</strong> {{ request.user.profile.prefix }}</p> -->
                <p class="mb-1"><i class="fas fa-globe-africa text-success me-2"></i>
                    <strong>Zone:</strong>
                    {{ request.user.profile.site.district.region.zone.name }}
                </p>
                <p class="mb-1"><i class="fas fa-hospital text-success me-2"></i>
                    <strong>Site:</strong>
                    {{ request.user.profile.site.name }}
                </p>
                <p class="mb-0"><i class="fas fa-briefcase text-success me-2"></i>
                    <strong>Position:</strong>
                    {{ request.user.profile.position }}
                </p>
            </div>
            {% if total_issues %}
            <!-- Blinking Badge -->
            <div>
                <span class="badge bg-danger blink">
                    Current Pending Queries: {{ total_issues | intcomma }}
                </span>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="alert alert-warning mt-3 rounded-3 shadow-sm">
            ⚠️ Your profile does not have a site assigned. please Login again <br>
            <hr>
            <a href="{% url 'users:login' %}">Click here to login</a>
        </div>
        {% endif %}
        {% endif %}
        {% endwith %}
    </div>
</div>




<div class="container mt-3">
    <!-- Selected Site / Zone Info -->
    <div class="mb-3">
        {% if request.GET.site or request.GET.zone %}
        <h5>
            {% if request.GET.site %}
            Site: {{ sites|get_item:request.GET.site|default:"N/A" }}
            {% endif %}
            {% if request.GET.zone %}
            {% if request.GET.site %} | {% endif %}
            Zone: {{ zones|get_item:request.GET.zone|default:"N/A" }}
            {% endif %}
        </h5>
        {% endif %}
    </div>

    <!-- DASHBOARD CARDS -->
    <div class="row g-3 mb-4">
        <!-- Screened Card -->
        <div class="col-md-6">
            <div class="card text-white bg-primary h-100 card-hover">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">Screenings</h5>
                        <p class="card-text fs-4">{{ screened_count | intcomma }}</p>
                    </div>

                    <div class="mt-3">
                        <div class="row g-2">
                            {% if request.user.is_superuser or request.user.groups.all.0.name in "NURSE,CLINICIAN" %}
                            <div class="col-md-12 col-12">
                                <a href="{% url 'nanopore:screening-create' %}"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-plus-circle"></i> Add New Screening
                                </a>
                            </div>
                            {% endif %}
                            <div class="col-md-12 col-12">
                                <a href="{% url 'nanopore:screened-list' %}?list_type=screened"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-eye"></i> View all Screenings
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Eligible Card -->
        <div class="col-md-6">
            <div class="card text-white bg-success h-100 card-hover">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">Eligibility</h5>
                        <p class="card-text fs-4">{{ eligible_count | intcomma }}</p>
                    </div>

                    <div class="mt-3">
                        <div class="row g-2">
                            <!-- {% if request.user.is_superuser or request.user.groups.all.0.name in "NURSE,CLINICIAN" %}
                            <div class="col-md-6 col-12">
                                <a href="{% url 'nanopore:eligible-list' %}?list_type=eligible"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-plus-circle"></i> Add Eligible
                                </a>
                            </div>
                            {% endif %} -->
                            <div class="col-md-12 col-12">
                                <a href="{% url 'nanopore:eligible-list' %}?list_type=eligible"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-eye"></i> View all Eligible
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-4">
        <!-- Enrolled Card -->
        <div class="col-md-6">
            <div class="card text-white bg-warning h-100 card-hover">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">Enrollments</h5>

                        <!-- Overall Enrollment Count -->
                        <div class="mb-4">
                            <div class="d-flex justify-content-between small fw-semibold mb-1">
                                <span>Overall Enrollment</span>
                                <span>
                                    {{ enrolled_count|intcomma }}
                                    /
                                    {{ enrolled_required_count|intcomma }}
                                </span>
                            </div>

                            <!-- Enrollment Progress -->
                            <div class="progress mb-4">
                                <div class="progress-bar
                                        {% if enrolled_progress >= 100 %}
                                            bg-success
                                        {% elif enrolled_progress >= 50 %}
                                            bg-primary
                                        {% else %}
                                            bg-danger
                                        {% endif %}" role="progressbar" style="width: {{ enrolled_progress }}%;"
                                    aria-valuenow="{{ enrolled_progress }}" aria-valuemin="0" aria-valuemax="100">
                                    {{ enrolled_progress }}%
                                </div>
                            </div>
                        </div>

                        <!-- Substudy 2 -->
                        <div class="mb-4">
                            <div class="d-flex justify-content-between small fw-semibold mb-1">
                                <span>Substudy 2</span>
                                <span>
                                    {{ substudy2_enrolled_count|intcomma }}
                                    /
                                    {{ substudy2_required_count|intcomma }}
                                </span>
                            </div>

                            <div class="progress">
                                <div class="progress-bar
                                        {% if substudy2_enrolled_progress >= 100 %}
                                            bg-success
                                        {% elif substudy2_enrolled_progress >= 50 %}
                                            bg-primary
                                        {% else %}
                                            bg-danger
                                        {% endif %}" role="progressbar"
                                    style="width: {{ substudy2_enrolled_progress }}%;"
                                    aria-valuenow="{{ substudy2_enrolled_progress }}" aria-valuemin="0"
                                    aria-valuemax="100">
                                    {{ substudy2_enrolled_progress }}%
                                </div>
                            </div>
                        </div>

                        <!-- Substudy 4 -->
                        <div>
                            <div class="d-flex justify-content-between small fw-semibold mb-1">
                                <span>Substudy 4</span>
                                <span>
                                    {{ substudy4_enrolled_count|intcomma }}
                                    /
                                    {{ substudy4_required_count|intcomma }}
                                </span>
                            </div>

                            <div class="progress">
                                <div class="progress-bar
                                        {% if substudy4_enrolled_progress >= 100 %}
                                            bg-success
                                        {% elif substudy4_enrolled_progress >= 50 %}
                                            bg-info
                                        {% else %}
                                            bg-danger
                                        {% endif %}" role="progressbar"
                                    style="width: {{ substudy4_enrolled_progress }}%;"
                                    aria-valuenow="{{ substudy4_enrolled_progress }}" aria-valuemin="0"
                                    aria-valuemax="100">
                                    {{ substudy4_enrolled_progress }}%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <a href="{% url 'nanopore:enrolled-list' %}?list_type=enrolled"
                            class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                            <i class="bi bi-eye"></i>
                            View all Enrollments
                        </a>
                    </div>

                </div>
            </div>
        </div>



        <!-- Completed Card -->
        <div class="col-md-6">
            <div class="card text-white bg-info h-100 card-hover">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">Substudy 2 Completed <br> Treatement Outcomes</h5>
                        <p class="card-text fs-4">{{ completed_count | intcomma }} / {{ substudy2_count | intcomma }}
                        </p>
                        <div class="progress">
                            <div class="progress-bar
                                {% if substudy2_progress == 100 %}
                                    bg-success
                                {% elif substudy2_progress >= 50 %}
                                    bg-info
                                {% else %}
                                    bg-danger
                                {% endif %}" role="progressbar" style="width: {{ substudy2_progress }}%;"
                                aria-valuenow="{{ substudy2_progress }}" aria-valuemin="0" aria-valuemax="100">
                                {{ substudy2_progress }}%
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="row g-2">
                            <!-- {% if request.user.is_superuser or request.user.groups.all.0.name in "NURSE,CLINICIAN" %}
                            <div class="col-md-6 col-12">
                                <a href="{% url 'nanopore:completed-list' %}?list_type=completed"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-plus-circle"></i> Add Completed
                                </a>
                            </div>
                            {% endif %} -->
                            <div class="col-md-12 col-12">
                                <a href="{% url 'nanopore:completed-list' %}?list_type=completed"
                                    class="btn btn-light w-100 btn-sm d-flex justify-content-center align-items-center gap-1">
                                    <i class="bi bi-eye"></i> View all Completed Substudy 2 Outcomes
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .card-hover:hover {
            transform: scale(1.03);
            transition: 0.2s;
        }
    </style>
</div>

<!-- Quick Actions / Info -->
{% if user.is_staff %}
<div class="row">
    <div class="col-12 text-center">
        <p class="text-muted">
            Use the navigation menu to access patient records, screening logs, enrollment data, and all CRFs.
        </p>
        <a href="{% url 'admin:index' %}" class="btn btn-outline-dark btn-lg mt-3">
            <i class="bi bi-gear me-2"></i> Nanopore Admin Panel
        </a>
    </div>
</div>
{% endif %}
{% endblock %}