{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to Dashboard
        </a>
         <a href="{% url 'nanopore:clinic-laboratory-list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to List
        </a>
        <h2>Clinic Laboratory</h2>
    </div>

    <h4 class="mb-4">
        Audit Trail – PID: <strong>{{ object.screening.pid }}</strong>
    </h4>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Field</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>

                {% for change in changes %}
                <tr>

                    <td>{{ change.changed_at }}</td>

                    <td>{{ change.changed_by }}</td>

                    <td>
                        <span class="
                            {% if change.history_type == 'Created' %} text-success
                            {% elif change.history_type == 'Updated' %} text-primary
                            {% elif change.history_type == 'Deleted' %} text-danger
                            {% endif %}
                        ">
                            {{ change.history_type }}
                        </span>
                    </td>

                    <td>{{ change.field }}</td>

                    <td>
                        {% if change.old %}
                            {{ change.old }}
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>
                        {% if change.new %}
                            {{ change.new }}
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>
                        {% if change.reason %}
                            {{ change.reason }}
                        {% else %}
                            —
                        {% endif %}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">
                        No audit history available.
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>

{% endblock %}